/* mini cart */
.miniCartWrap{vertical-align:top;}
.crat-icon .icons {font-size: 20px;}
.mini-maincart{padding:38px 44px;position:relative;text-align:center;z-index:30;cursor: pointer;border-left: 1px solid #a09786;}
.mini-maincart .mini-contentCart{position:absolute;right:0;top:104px;width:300px;line-height:30px;padding:15px 20px 20px;box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);}
.mini-maincart .mini-contentCart p.empty{margin:0;font-weight:300;font-size: 12px;cursor: text;}
.mini-contentCart .mini-products-list{margin:0;padding:0;}
.mini-contentCart .item .product-details .product-name{line-height: 10px;font-size: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.mini-contentCart .item .product-details .product-name a{text-transform: capitalize;}
.crat-icon{display: inline-block;}
.cart-header{position: absolute; right: 27px; top: 31px;width: 20px;height: 20px;line-height: 20px;color: #fff;border-radius: 50%;}
.cart-tolatl{display: none;}
.crat-icon{padding:0 ; font-size: 18px;}
.cartSummary .icon-cart{padding:0px;font-size:30px;line-height: 30px;}
.cartSummary .mt-cart-title{font-weight: bold; letter-spacing: 2px;text-transform: uppercase;display: none;margin: 0 0 0 10px;vertical-align: top;}
.cartSummary span.icon-basket-loaded{color:#f9a607;font-size:22px;}
.cartSummary span.item,.cartSummary span.zero, .cartSummary span.price{color: #ffffff;font-size: 12px;font-weight: 500;}
.mini-contentCart .subtotal{clear:both;display:block;padding:10px 0;margin:0;text-align: center;}
.mini-contentCart .subtotal .label{color: #363636; float: left; font-size: 18px; font-weight: 500;line-height: 25px; text-transform: uppercase;font-family: oswald;}
.mini-contentCart .subtotal .price{ color: #484848; display: inline-block;font-size: 16px;font-family: oswald;}
.mini-contentCart .actions a.view-cart { margin: 0 0 15px;}
.mini-contentCart .actions a{background-color:transparent; color:#747474;text-decoration:none;font-size:13px;line-height:36px;padding:0 13px;display:block;margin:5px 0; text-transform: uppercase;transition:all 500ms ease-in-out 0s;-moz-transition:all 500ms ease-in-out 0s;-webkit-transition:all 500ms ease-in-out 0s;-o-transition:all 500ms ease-in-out 0s;border: 1px solid #dcdcdc; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; -o-border-radius: 20px; font-family: oswald;}
.mini-contentCart .actions a:hover{background-color:#ce9634;color: #fff;}
#miniMagiccart .item:hover{background-color:#dddddd}
#miniMagiccart a.btn-remove,a.btn-edit,a.btn-remove{float:none;margin:0 5px 0 0;display: inline-block;vertical-align: top;}
#miniMagiccart a.btn-remove .fa,a.btn-edit .fa,a.btn-remove .fa{ border-radius: 50%;height: 18px; line-height: 16px; width: 18px;}
.mini-contentCart .block-content .block-subtitle{margin:0;font-weight:300}
#toPopup .countDown {background: #eee none repeat scroll 0 0;border-left: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;display: inline-block;font-size: 11px;font-weight: bold;height: 20px;line-height: 20px;width: 20px; position: absolute;top: 0;right: 0;}
#toPopup .response p{padding: 0 14px 0 0;}
/*popup*/
#toPopup{background:none repeat scroll 0 0 #FFFFFF;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);border-radius: 5px;-moz-border-radius: giá trị;-webkit-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border:0 solid #ccc;border-bottom:2px solid #ce9634;color:#333333;font-size:13px;position:fixed;top:30%;left:40%;width:300px;z-index:999999;padding:10px;text-align: center;}
#popupAjaxcart .label,#popupAjaxcart .availability span{font-weight:300}
/* option cart */
#toPopup .input-box{margin:10px 0 10px}
#toPopup label.required em{color:#eb340a}
#toPopup .action-cart{margin:20px 0 15px 0}
#toPopup .action-cart .button{margin:0 5px;}
/* overlay loading */
#popupAjaxcart .overlay{z-index:12;position:fixed;display:none;height:100%;width:100%;background:#fff;top:0;left:0}
#popupAjaxcart .loading{background:url("../images/loading.gif") no-repeat scroll center center #fff;border-radius: 5px;-moz-border-radius: giá trị;-webkit-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);border-bottom:2px solid #ce9634;display:none;width:55px;height:55px;left:48%;opacity:1;padding:20px;position:fixed;top:38%;z-index:999999}




